{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        .container {
            height: 100%
        }

        .top {
            width: 400px;
            margin: auto;
            padding: 15px;
            margin-bottom: 20px;
            margin-top: 10px;
            height: 90px;
            background-color: rgb(93, 94, 93);
        }
        body {
            background-color: rgb(182, 250, 182);
        }
        
    </style>
</head>

<body>
    <div class="top text-center">
        <h5 class="pt-3">RESTAURANT STAFF MANAGEMENT OPERATIONS</h5>
    </div>    
    <div class="container ">
        <div class="column mb-3 mt-1">
            <div class="row col-md-12 text-center">
                <div class="col-sm-7">
                    <h5>Restaurant management Sysytem</h5>
                </div>
                <div class="col-sm-1 "><a href="{% url 'staff:addstaff' %}"> <button>Add</button></a></div>
                <div class="col-lg-1 "><a href="{% url 'staff:deletestaff' %}"> <button>Delete</button></a></div>
                <div class="col-lg-1 "><a href="{% url 'staff:updatestaff' %}"> <button>Update</button></a></div>
                <div class="col-lg-2 "><a href="{% url 'goback' %}"> <button>Go Back</button></a></div>
            </div>
        </div>
        <div class="column">
            <div class="row bg bg-info mb-1">
                <div class="col-sm-1">
                    <h4>Id</h4>
                </div>
                <div class="col-sm-4">
                    <h4>Name</h4>
                </div>
                <div class="col-sm-3">
                    <h4>Salary</h4>
                </div>
                <div class="col-sm-4">
                    <h4>Contact No.</h4>
                </div>
            </div>
            {% if flag is 1 %}
            <form action="#" method="POST">
                {% csrf_token %}
                {% for person in staffpersons_list %}
                <div class="row mb-1">
                    <div class="col-sm-1">
                        <input type="radio" name="todelete" id="{{person.name}}" value="{{person.name}}">
                    </div>
                    <div class="col-sm-1">
                        <h5>{{person.id}}</h5>
                    </div>
                    <div class="col-sm-4">
                        <h5>{{person.name}}</h5>
                    </div>
                    <div class="col-sm-2">
                        <h5>{{person.salary}}</h5>
                    </div>
                    <div class="col-sm-4">
                        <h5>{{person.contact}}</h5>
                    </div>
                </div>
                {% endfor %}
                <button type="submit"> Delete</button>
            </form>
            {% else %}
            {% for person in staffpersons_list %}
            <div class="row mb-1">
                <div class="col-sm-1">
                    <h5>{{person.id}}</h5>
                </div>
                <div class="col-sm-4">
                    <h5>{{person.name}}</h5>
                </div>
                <div class="col-sm-3">
                    <h5>{{person.salary}}</h5>
                </div>
                <div class="col-sm-4">
                    <h5>{{person.contact}}</h5>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>